#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#contenedor >div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  
}

.cjas:hover {
  color: red;
  transform: translateY(-5px);
}


.cardPokemon {
  /* height: 200px; */
  width: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cardPokemon > div {
  height: 150px;
  
}

a{
  text-decoration: none;
  color: white;
}

.cardPokemon > div > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardPokemon > h1 {
  text-transform: capitalize;
}

.cardPokemon > h1,
.cardPokemon > p
{
  margin: 0;
}